<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>作成したアプリのリンク集</h1>
    </header>
    <main>
        <ul>
            <li><a href="{{url_for('_01_app.show_template')}}">簡単！ドット絵メーカー</a></li>
            <li><a href="{{url_for('_02_app.show_template')}}">モザイク処理</a></li>
            <li><a href="{{url_for('_03_app.show_template')}}">セルオートマトンジェネレータ</a></li>
            <li><a href="{{url_for('_04_app.show_template')}}">テトリス</a></li>
        </ul>
    </main>
    <footer>
        <p>名前: <span>栗原　空良</span></p>
        <p>ソースコード: <a href="https://github.com/SoraKurihara/apps" target="_blank">こちら</a></p>
    </footer>
</body>

</html>
