<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>セルオートマトンジェネレータ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_03_style.css') }}">
    <script>
        function ruleNumberToTable() {
            var ruleNumber = parseInt(document.getElementById('rule').value);
            var binaryString = (ruleNumber >>> 0).toString(2).padStart(8, '0');

            for (var i = 0; i < binaryString.length; i++) {
                var selectElement = document.getElementsByName('rule' + i)[0];
                selectElement.value = binaryString[i];
            }
        }

        function tableToRuleNumber() {
            var binaryString = '';
            for (var i = 0; i <= 7; i++) {
                var selectElement = document.getElementsByName('rule' + i)[0];
                binaryString += selectElement.value;
            }

            var ruleNumber = parseInt(binaryString, 2);
            document.getElementById('rule').value = ruleNumber;
        }

        function handleInitialConditionChange() {
            var fixedInput = document.getElementById('fixedInput');
            var randomInput = document.getElementById('randomInput');
            if (document.getElementById('fixed').checked) {
                fixedInput.style.display = 'block';
                randomInput.style.display = 'none';
            } else if (document.getElementById('random').checked) {
                randomInput.style.display = 'block';
                fixedInput.style.display = 'none';
            }
        }
    </script>
</head>

<body>
    <h1>セルオートマトンジェネレータ</h1>
    <form action="/_03/generate" method="post">
        <div class="input-group">
            <label for="rule">ルール番号（Rule Number）:</label>
            <input type="number" id="rule" name="rule" min="0" max="255" required oninput="ruleNumberToTable()">
        </div>

        <div class="rule-table">
            <div class="rule">
                <div class="cells">
                    <div class="cell">1</div>
                    <div class="cell">1</div>
                    <div class="cell">1</div>
                </div>
                <select name="rule0" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">1</div>
                    <div class="cell">1</div>
                    <div class="cell">0</div>
                </div>
                <select name="rule1" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">1</div>
                    <div class="cell">0</div>
                    <div class="cell">1</div>
                </div>
                <select name="rule2" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">1</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <select name="rule3" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">0</div>
                    <div class="cell">1</div>
                    <div class="cell">1</div>
                </div>
                <select name="rule4" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">0</div>
                    <div class="cell">1</div>
                    <div class="cell">0</div>
                </div>
                <select name="rule5" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                    <div class="cell">1</div>
                </div>
                <select name="rule6" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="rule">
                <div class="cells">
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                    <div class="cell">0</div>
                </div>
                <select name="rule7" class="result-cell" onchange="tableToRuleNumber()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>


        <input type="radio" id="fixed" name="initialCondition" value="fixed" onclick="handleInitialConditionChange()">
        <label for="fixed">固定（Fixed）</label>
        <input type="radio" id="random" name="initialCondition" value="random" onclick="handleInitialConditionChange()">
        <label for="random">ランダム（Random）</label>

        <div id="fixedInput" style="display:none;">
            <label for="length">長さ（Length）:</label>
            <input type="number" id="length" name="length" min="1">
        </div>
        <div id="randomInput" style="display:none;">
            <label for="seed">Seed値（Seed Value）:</label>
            <input type="number" id="seed" name="seed">
        </div>

        <input type="submit" value="初期配置作成">

        <div>
            <label for="steps">総ステップ数（Total Steps）:</label>
            <input type="number" id="steps" name="steps" min="1" required>
        </div>

        <input type="submit" value="Generate">
    </form>
</body>

</html>
